{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome to {{ controller_name }}! ✅</h1>

    Friendly message:
    <ul>
        <li>Pour vous inscrire veuillez cliquer sur <code><a href="{{ path('app_user_registration')  }}">Inscription src/Controller/UserController.php</a></code></li>
        <li>Pour vous connecter veuillez cliquer sur <code><a href="{{  path('app_login')  }}">Se connecter</a></code></li>
    </ul>
{# <p>
<a href="{{ path('app_user_registration') }}">Inscription</a>
</p>
<p>
<a href="{{ path('app_login') }}">Se connecter</a>
</p> #}


</div>
{% endblock %}
